@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Oswald:wght@200..700&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 100vh;
  background-color: #1351b4;
}

.title {
  font-family: "Abhaya Libre", serif;
  color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 0px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form > label {
  align-self: flex-start;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}

.login-form > .input {
  min-width: 30rem;
  height: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-color: #000000;
  border-width: 0.2rem;
}

.login-buttons-cadastro {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 0.5rem;
}

div > a {
  color: #ffffff;
  font-weight: bold;
}
