@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Oswald:wght@200..700&display=swap");

* {
  max-width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.register-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #1351b4;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 40vw;
}

.register-form > label {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.buttons-cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.logo-img-register {
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 10px;
  background-color: #1351b4;
}

.container > img {
  position: absolute;
  top: 0;
}

.title {
  font-family: "Abhaya Libre", serif;
  color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
}

.title-register {
  font-family: "Abhaya Libre", serif;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form > label {
  align-self: flex-start;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.login-form > .input {
  min-width: 350px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-color: #000000;
  border-width: 2px;
}
